# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual envs
venv/
.env/
.env

# Streamlit
.streamlit/

# Docker
*.tar
*.log

# VSCode ou outras IDEs
.vscode/
.idea/
*.swp

# Arquivos de sistema
.DS_Store
Thumbs.db
